#header {
  margin: 15px;
}

#top-bar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#circles-container {
  display: inline-flex;
  flex-direction: row;
}

.circle {
  background-color: #5a625e;
  width: 15px;
  height: 15px;
  border-radius: 75px;
  margin: 5px;
}

#nav {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav {
  border: 3px solid black;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 0 10px;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: black;
}
#red {
  background-color: #df3127;
}
